<style>
  @import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');
</style>
*{                                                                     
  box-sizing: border-box;
	margin: 0;
  padding: 0;
	font-family: 'Arvo', serif;
	font-size: 20px;
 }



*{                                                                     
    margin:0;  
    padding:0;
	text-decoration: none;
	list-style: none;
    }

body{                                                                     
 background-color:#ffffff;
	}
	



header{
	   background-color:#FFF0C9;
	display: flex;
	justify-content: space-between;
		align-items: center;
	height: 85px;
	padding: 5px 10%;
	 }

.header .logo{
	cursor: pointer;
 }

.header .logo img{
	height: 70px;
	width: auto;
	transition:all 0.3s;
 }



.header .logo img:hover{
  transform: scale(1.2);
}
.header .nav-links{
	list-style: none;
 }

.header .nav-links li{
display:inline-block;
	padding: 0 20px;
	}
.header .nav-links li:hover{
	transform: scale(1.1);
}


.header .nav-links a{
  font-size: 30px;
  color: #3F2212;
	text-decoration: none;
 }

.header .nav-links li a:hover{
  color: #ab9680;
	}